*{
  margin: 0;
  padding: 0;
  
}
html {
  scroll-behavior: smooth;
}

.navbar{
  background-color: rgba(0, 0, 0, 0.804);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: larger;
  padding: 20px;
  color: rgba(245, 245, 245, 0.716);
  border-bottom: 2px solid yellow;
}
.aboutme{
  padding-right: 20px;
}
.education{
  padding-right: 20px;
}
.skills{
  padding-right: 20px;
}
.projects{
  padding-right: 20px;
}
.navbar a {
  color: #fff; 
  font-size: 18px;
  text-decoration: none; 
}

.navbar a:hover {
  color:  rgba(255, 255, 0, 0.538); 
  text-decoration: underline; 
}

.des{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.804);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  margin: 20px;
  width: 20%;
}

.me1{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 20px;

}

.me{
  /* padding: 20px; */
  font-family:'Brush Script MT', cursive;
  font-size:xx-large;
  font-weight: 900;
  color: rgba(255, 255, 0, 0.538);
}

.descr{
  color:  rgba(245, 245, 245, 0.519);
  font-size: larger;
  padding-right: 30%;
}

.name{
  font-size: xx-large;

}
.eduname{
  background-color:rgba(0, 0, 0, 0.804) ;
  font-family:'Brush Script MT', cursive;
  font-size:xx-large;
  font-weight: 900;
  color: rgba(255, 255, 0, 0.538);
  padding-left: 50px;
  border-bottom: 2px solid yellow;
  
}

.edu{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.804);
}
.card-container {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 15px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card-container:hover {
  transform: translateY(-10px);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.804);
  color: rgba(245, 245, 245, 0.716);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: opacity 0.3s ease;
}

.card-details.hovered {
  opacity: 1;
}

.card-level {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 0, 0.538);
  color: rgba(3, 13, 15, 0.519);
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}
.contact1{
  background-color:rgba(0, 0, 0, 0.804) ;

}
.con{
  font-family:'Brush Script MT', cursive;
  font-size:xx-large;
  font-weight: 900;
  color: rgba(255, 255, 0, 0.538);
  padding-left: 50px;
  border-bottom: 2px solid yellow;
}
.social-links {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.social-icon {
  font-size: 40px;
  color:rgba(245, 245, 245, 0.716) ;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #0077b5; 
}

.social-icon.linkedin:hover {
  color: #0077b5; 
}

.social-icon.github:hover {
  color:rgba(245, 245, 245, 0.716) ;
}

.social-icon.email:hover {
  color: #d14836; 
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 15px;
  padding: 20px;
  justify-items: center;
}

.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  transition: background-color 0.3s, border-color 0.3s;
  text-align: center;
  cursor: pointer;
  max-width: 120px;
}

.skill-box .icon {
  font-size: 40px;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.skill-box p {
  font-size: 14px;
  font-weight: bold;
}

.skill-box:hover {
  background-color: rgba(255, 255, 0, 0.538);
  border-color: rgba(255, 255, 0, 0.716);
}

.skill-box:hover .icon {
  color: white;
}

.skill-box:hover p {
  color: white;
}

.projects-container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-card { 
  width: 300px;
  border: 1px solid #252222;
  border-radius: 10px;
  overflow: hidden;
  margin: 15px;
  box-shadow: 0 2px 10px rgba(7, 2, 2, 0.1);
  background-color: rgba(37, 34, 34, 0.804);
}

.project-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card-content {
  padding: 15px;
}

.project-card-title {
  color: yellow;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-card-description {
  font-size: 1rem;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.729);
}

.project-card-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.project-card-button:hover {
  background-color: #0056b3;
}
